{% extends 'base.html' %}


{% block content %}
<main role="main">
    <div class="container py-lg-5 py-4">
        <ol class="breadcrumb d-none d-md-flex mb-3 mb-lg-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'about' %}">О заводе</a></li>
            <li class="breadcrumb-item active">Документы</li>
        </ol>
        
        <a href="{% url 'about' %}" title="" class="d-block d-md-none text-dark font-weight-bold smaller mb-3"><i class="fas fa-arrow-left fa-xs mr-2"></i>О заводе</a>
        
        <h1 class="mb-lg-5 mb-4">Документы</h1>
        <div class="docs">
            {% for item in documents %}
            <a href="{{ item.document.url }}" title="" download>
                <span class="d-flex align-items-center justify-content-center"><i class="fas fa-file"></i></span>
                {{ item.title }}
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}