.jumbotron {
    background-image: url(../images/header_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: $jumbotron-padding ($jumbotron-padding / 2);
    color: $jumbotron-color;
    background-color: $jumbotron-bg;

    .btn-light {
        position: relative;
        padding-left: 4rem;    

        svg {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: $primary;
        }
    }

    h1 {
        border-radius: $border-radius;
        box-shadow: 0 2rem 2rem rgba($black, .1);
    }

    p {
        border-radius: $border-radius;
        box-shadow: 0 2rem 2rem rgba($black, .1);
        margin-top: -1.25rem;
    }

    .btn {
        border-radius: 1.75rem;   
    }

    @include media-breakpoint-up(md) {
        padding: ($jumbotron-padding * 5) $jumbotron-padding;

        h1 {
            font-size: 4.25rem;
        }

        p {
            width: 75%;
        }
    }

    @include media-breakpoint-down(md) {
        padding: ($jumbotron-padding * 3) $jumbotron-padding;

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @include media-breakpoint-down(sm) {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @include media-breakpoint-down(xs) {
        padding: ($jumbotron-padding) ($jumbotron-padding / 2);

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: .8rem;
        }
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    @include border-radius(0);
}
