{% load static %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<footer class="footer py-5 bg-light">
    <div class="container">
        <div class="row pb-2 pb-md-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="d-flex align-items-center footer-logo mb-3">
                    <img src="{% static 'images/logo.svg' %}" class="mr-3" alt="">
                    <div>
                        <a href="{% url 'index' %}" class="small m-0 text-dark stretched-link">Майкопский станкостроительный завод имени М. В. Фрунзе</a>
                    </div>
                </div>
                <span class="d-block smaller text-muted">© 2019 все права защищены</span>
            </div>

            <div class="col-lg-4 col-md-6">
                <ul class="list-unstyled smaller">
                    <li>
                        <a href="{% url 'news' %}" title="">Новости и события</a>
                    </li>  
                    <li>
                        <a href="{% url 'documents' %}" title="">Документы</a>
                    </li>  
                    <li>
                        <a href="{% url 'contacts' %}" title="">Контакты</a>
                    </li>    
                    {% for page in flatpages %}
                        {% if page.url != '/personal-data/' %}
                        <li>
                            <a href="{{ page.url }}" title="">{{ page.title }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-4 col-md-6">
                <ul class="list-unstyled smaller">
                    {% for item in categories %}
                    <li>
                        <a href="{{ item.get_absolute_url }}" title="">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="border-top pt-4 pt-md-5 text-md-center">
            <div class="d-inline-block">
                <div class="position-relative d-flex align-items-center devlogo">
                    <img src="{% static 'images/devlogo.svg' %}" alt="Webline Masters">
                    <div class="ml-2 d-flex align-items-start flex-column">
                        <span>Webline Masters</span>
                        <a href="http://wlms.info" target="_blank" class="stretched-link text-muted" title="Webline Masters">создание и продвижение сайтов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>